div(class="container demo-1" id="questionairre")
    section(id="welcome")
        h2 Welcome to your Wedding!
        p We have populated our demo with sample content so you can experience our platform. You cannot edit or save anything, but you will get an understanding of how our software works.</p>
        div(class="" style="margin-top: 24px; margin-bottom: 20px;" align="center")
            a(id="getstarted" class="submit") Get Started
    section(id="welcomeoverlay") &nbsp
    div(class="main clearfix")
        form(id="nl-form" class="nl-form")
            | I am 
            input(id="you" type="text" value="" placeholder="Persian" data-subline="Enter your cultural background. <br> For example: <em>Indian</em>, <em>Chinese</em> or <em>Italian</em>") 
            |  and my partner is 
            input(type="text" value="" placeholder="Portuguese" data-subline="Enter your partner's cultural background. <br> For example: <em>Indian</em>, <em>Chinese</em> or <em>Italian</em>") 
            We are getting married on
            input(type="text" value="" placeholder="April" data-subline="Enter the month you are getting married.")   
            | , 
            input(type="text" value="" placeholder="23" data-subline="Enter the day you are getting married.") 
            | ,     
            input(type="text" value="" placeholder="2018" data-subline="Enter the year you are getting married.") 
            | .    
            br 
            | Our wedding is in 
            input(type="text" value="" placeholder="Toronto" data-subline="Enter the city where you are getting married. <br> For example: <em>London</em>, <em>Toronto</em> or <em>New York</em>") 
            |  and our budget is 
            input(type="text" value="" placeholder="$25,000" data-subline="Enter your estimated budget.") 
            | .    
            div(id="submit") Plan my wedding
            div(class="nl-overlay")